<div class="container"
     [ngClass]="{
        'ribbonTop': (!windowItem.ribbonFixedPosition && windowItem.area.ratio && windowItem.hasRibbon) || windowItem.ribbonFixedPosition == 'top',
        'ribbonLeft': (!windowItem.ribbonFixedPosition && !windowItem.area.ratio && windowItem.hasRibbon) || windowItem.ribbonFixedPosition === 'left',
        'hasFooter': windowItem.hasFooter
     }">
  <div class="ribbon" *ngIf="windowItem.hasRibbon">
    <app-ribbon [ident]="windowItem.uuid" [size]="'small'" [direction]="!windowItem.ribbonFixedPosition ? !windowItem.area.ratio : windowItem.ribbonFixedPosition == 'left'" [component]="this"></app-ribbon>
  </div>
  <div class="content" [ngClass]="{'noRibbon': !windowItem.hasRibbon}">

    <div style="position:absolute;background-color: rgba(255,0,0,0.2);"
         [ngStyle]="{
    width: windowItem.area.width / 2 + 'px',
    height: windowItem.area.height /2  + 'px',
    top: 0,
    left: 0
    }">
      {{ windowItem.area.width }} x {{ windowItem.area.height }}
    </div>

    <label><input [(ngModel)]="memory.form1"></label>
    <label><input [(ngModel)]="memory.form2"></label>
    <label><input [(ngModel)]="memory.form3"></label>
    <label><input [(ngModel)]="memory.form4"></label>

    <pre>{{ testFunctionValue | json }}</pre>
  </div>
</div>
<div class="footer" *ngIf="windowItem.hasFooter">
  <button pButton type="button" class="p-button-secondary p-button-sm" label="Click"></button>
  <button pButton type="button" class="p-button-success p-button-sm" (click)="closeWindow()" label="Close"></button>
</div>

