<div class="container"
     [ngClass]="{
        'ribbonTop': ratio && windowItem.hasLocalRibbon,
        'ribbonLeft': !ratio && windowItem.hasLocalRibbon,
        'hasFooter': windowItem.hasLocalFooter
     }">
  <div class="ribbon" *ngIf="windowItem.hasLocalRibbon">
    <app-ribbon [ident]="windowItem.uuid" [size]="'small'" [direction]="!ratio" [component]="this"></app-ribbon>
  </div>
  <div class="content" [ngClass]="{'noRibbon': !windowItem.hasLocalRibbon}">

    <div style="position:absolute;"
    [ngStyle]="{
    width: area.width + 'px',
    height: area.height + 'px',
    top: 0,
    left: 0
    }"

    >
    {{ area.width }} x {{ area.height }}
    </div>

    <pre>{{ testFunctionValue | json }}</pre>

    <button (click)="setUnSaved(true)">Set Unsaved</button>
    <button (click)="setUnSaved(false)">Set Saved</button> Unsaved : {{ windowItem.unsaved }} | key {{ key }}
    <hr>
    <button (click)="setAlwaysActive(true)">Set Always Active</button>
    <button (click)="setAlwaysActive(false)">Unset Always Active</button>
    <button (click)="logout()">Logout</button>
    <hr>
    <span>{{ apiResponse | json }}</span>
    <div>exp: {{ exp }}</div>
    <br>
    <button (click)="addLocalRibbon()">Add Ribbon</button>
    <button (click)="removeLocalRibbon()">Remove Ribbon</button>
    <br>
    <button (click)="addLocalFooter()">Add Footer</button>
    <button (click)="removeLocalFooter()">Remove Footer</button>
    <br>
    <button (click)="addStatusBar()">Add Status Bar</button>
    <button (click)="removeStatusBar()">Remove Status Bar</button>
    <h2>Example</h2>
    {{ locale.test }}
    <hr>
    -{{ demo }}-
    <br>
    <input [(ngModel)]="demo">
    <pre>{{ windowItem | json }}</pre>
  </div>
</div>
<div class="footer" *ngIf="windowItem.hasLocalFooter">
  <button pButton type="button" class="p-button-secondary p-button-sm" label="Click"></button>
  <button pButton type="button" class="p-button-success p-button-sm" (click)="closeWindow()" label="Close"></button>
</div>

