.titleBar {
  height: 0;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 300ms;
  opacity: 0;
  overflow: hidden;
}

.titleBar.on {
  opacity: 1;
  transition: all 300ms;
  height: calc(var(--menu-height) + var(--ribbon-height));
  overflow:initial;
}

.tabBar {
  height: 0;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: var(--white);
  transition: all 300ms;
  /*z-index: 50000;*/
  opacity:0;
}

.tabBar.on {
  height: var(--tab-bar-height);
  opacity: 1;
  transition: all 300ms;
}

.tabBar.on:hover {
  height:var(--tab-bar-over-height) !important;
  transition: all 300ms;
}


.desktop {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  color: var(--black);
  transition: all 300ms;
}

.desktop.on{
  height: calc(100% - (var(--menu-height) + var(--ribbon-height)) - var(--tab-bar-height) - var(--electron-height));
  top: calc(var(--menu-height) + var(--ribbon-height) + var(--electron-height));
  transition: all 300ms;
}

pre {
  box-sizing: border-box !important;
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important;
}

.language {
  font-size: 12px;
  color: var(--white);
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.toasts {
  position:absolute;
  top:0;
  right:0;
  display:block;
}

.settings {
  background-color: var(--primary);
  margin:12px 12px 12px 0px;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  color: var(--white);
  width:300px;
  opacity:0;
  transition: all 300ms;
  position: absolute;
  left:-270px;
  top: 200px;
}
.settings:hover {
  transition: all 300ms;
  left:0
}
.settings.on {
  opacity:1;
  transition: all 300ms;
}


.loading {
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0.8);
  display:table;
  top:0;
  left:0;
  transition: all 300ms;
  opacity:0;
}

.loading.on {
  opacity:1;
  transition: all 300ms;
}

.loading div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.version {
  right:8px;
  bottom:8px;
  position:absolute;
}


