<div *ngIf="ribbonButtonList[ident]">
  <ng-container *ngFor="let ribbonItem of objectValues(ribbonButtonList[ident])">
    <app-ribbon-button [button]="ribbonItem" *ngIf="ribbonItem.label != 'sep'"
                       [ribbonSize]="ribbonSize"
                       [component]="component"></app-ribbon-button>
    <app-ribbon-separator *ngIf="ribbonItem.label == 'sep'" [ribbonSize]="ribbonSize"
                          [direction]="direction"></app-ribbon-separator>
  </ng-container>
</div>
<button pButton type="button" icon="pi {{ ribbonSize ==='small' ? 'icon-downArrow' : 'icon-upArrow' }}"
        class="p-button-rounded p-button-secondary p-button-sm toggleButton" (click)="toggleRibbon()" *ngIf="hasToggle"></button>
