.large {
  --ribbon-height: 100px;
  --ribbon-width: 90px;
}

.small {
  --ribbon-height: 50px;
  --ribbon-width: 50px;
}

.toggleButton {
  float: right;
  margin: 10px !important;
  position: absolute;
  top: 0;
  right: 0;
}

/*.toggleSwitch {*/
/*  float: right;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 40px;*/
/*  margin:10px;*/
/*}*/

.row {
  display: block !important;
  width: 100% !important;
  height: var(--ribbon-height);
}

.column {
  display:inline-block;
  position:absolute;
  top:0;
  width: var(--ribbon-width);
}
.column:nth-child(2) {
  left: var(--ribbon-width);
}
