/* window */

.windowItem {
  position: absolute;

  border-radius: 0;
  padding: 6px;
  background-color: transparent;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 300ms;
  opacity: 0;
  top: 0;
  left: 0;
}

.windowItem.open {
  opacity: 1;
}

.windowItem .container {
  border: 1px solid var(--mid-grey);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2px;
  background-color: var(--light-grey);
}

.type1 { /* no title bar */
  grid-template-rows: auto;
}

.type2 { /* normal window */
  grid-template-rows: 30px auto;
}

.type3 { /* normal window with a status bar */
  grid-template-rows: 30px auto 18px;
}

.type4 { /* normal window with a status bar */
  grid-template-rows: auto 18px;
}



.windowItem.active .container {
  background-color: var(--primary-mid);
  border-color: var(--primary-mid);
}

.titleBar {
  background-color: var(--mid-grey);
  color: var(--black);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  padding: 3px;
  display: grid;
  grid-template-rows: 30px;
  transition: all 300ms;
  font-size: 16px;
}


.microTitleBar {
  background-color: var(--mid-grey);
  color: var(--black);
  border-radius: 12px 12px 0 0;
  padding: 3px;
  display: inline-block;
  position: absolute;
  top: -26px;
  right: -1px;
  z-index: 5;
  opacity: 0;
  transition: all 300ms;
}

.microTitleBar.contained {
  top: 0;
  right: 0;
  border-radius: 0 12px 0px 12px;
}

.microTitleBar:hover, .microTitleBar.on {
  opacity: 1;
  transition: all 300ms;
}

.microTitleBar:hover:after, .microTitleBar.on:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent var(--primary-mid) transparent transparent;
  position:absolute;
  top:26px;
  right:0px;
}

.windowItem.active .microTitleBar {
  background-color: var(--primary-mid);
  color: var(--white);
}

.icons0 {
  grid-template-columns: 26px auto;
}

.icons1 {
  grid-template-columns: 26px auto 26px;
}

.icons2 {
  grid-template-columns: 26px auto 26px 26px;
}

.icons3 {
  grid-template-columns: 26px auto 26px 26px 26px;
}

.icons4 {
  grid-template-columns: 26px auto 26px 26px 26px 26px;
}

.icons5 {
  grid-template-columns: 26px auto 26px 26px 26px 26px 26px;
}

.titleBar .icon {
  text-align: center;
  font-size: 19px;
  margin: 1px;
  cursor: move;
}

.titleBar .titleBarText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  padding-right: 12px;
  padding-left: 4px;
  cursor: move;
}

.titleBar .titleBarText::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
}

.titleBar .titleBarText .extendedTitle {
  font-weight: 400;
}

.titleBar .actionIcon, .microTitleBar .actionIcon {
  text-align: center;
  margin: 0px;
  padding: 3px;
  cursor: pointer;
  line-height: 18px;
  height: 24px;
  border-radius: 6px;
}

.componentArea {
  /*background-color: var(--white);*/
  /*color: var(--black);*/
  overflow: hidden;
}

.componentAreaRounded {
  /*background-color: var(--white);*/
  /*color: var(--black);*/
  overflow: hidden;
  border-radius: 4px;
}

.windowItem .titleBar .actionIcon:hover, .windowItem .microTitleBar .actionIcon:hover {
  transition: all 300ms;
  background-color: var(--dark-grey);
}

.ribbon {
  background-color: var(--light-grey);
}

.status {
  background-color: var(--mid-grey);
  color: var(--black);
  padding: 0 5px 0 5px;
  font-size: 13px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* window active */
.windowItem.active .container {
  box-shadow: 0px 4px 7px -3px rgba(0, 0, 0, 0.21);
}

.windowItem.active {
  transition: all 300ms;
}

.windowItem.active .titleBar {
  background-color: var(--primary-mid);
  color: var(--white);
}

.windowItem.active .titleBar .actionIcon:hover, .windowItem.active .microTitleBar .actionIcon:hover {
  transition: all 300ms;
  background-color: var(--primary);
}

.windowItem.active .status {
  background-color: var(--primary-mid);
  color: var(--white);
}

.noTransition {
  transition-delay: 300ms;
  transition: all 0ms !important;
  pointer-events: none;
}

/* special locations */
.windowItem.maximised {
  border-radius: 0;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  border: none;
  box-shadow: none;
  transform: translate(0, 0) !important;
}

.windowItem.maximised .container {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.windowItem.maximised .titleBar {
  border-radius: 0;
}

.windowItem.maximised .componentArea {
  border-radius: 0;
}

.windowItem.minimised {
  top: 100% !important;
  bottom: -80px !important;
  height: 44px !important;
  width: 200px !important;
  left: 0 !important;
  transition: all 300ms;
  opacity: 0;
}

/* loading */
.loading {
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  display: table;
  background-color: white;
  opacity: 1;
  transition: opacity 300ms;
}

.loading.hideLoader {
  opacity: 0;
  transition: opacity 300ms;
}

.loading.noTitleBar {
  position: absolute;
  top: 11px;
  left: 9px;
  /*width: calc(100% - 18px);*/
  height: calc(100% - 20px);
  overflow: hidden;
  display: table;
  background-color: white;
  border-radius: 4px;
}

.loading.hasTitleBar {
  position: absolute;
  top: 39px;
  left: 9px;
  /*width: calc(100% - 18px);*/
  height: calc(100% - 48px);
  overflow: hidden;
  display: table;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.loading div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.container > div:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.subMenu {
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0;
  height: 0;
  width: 12px;
  background-color: var(--primary);
  padding: 8px;
  overflow: hidden;
  transition: all 300ms;
  border-radius: 6px;
}

.subMenu.on {
  opacity: 1;
  height: initial;
  width: initial;
  transition: all 300ms;
  box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.27);
}

.subMenu div {
  padding: 2px;
  border-radius: 4px;
  transition: all 300ms;
  cursor: pointer;
  color: var(--white);
  min-width: 180px;
}

.subMenu div:hover {
  background-color: var(--primary-dark);
  transition: all 300ms;
}

.subMenu div span {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: -1px;
  padding-left: 5px;
  padding-right: 5px;

}

.subMenu div i {
  font-size: 16px;
  position: relative;
  top: 1px;
  padding-left: 3px;
}

.dockTop {
  padding: 0 !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 50% !important;
  transform: translate(0, 0) !important;
}

.dockRight {
  padding: 0 !important;
  width: 50% !important;
  left: 50% !important;
  top: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 100% !important;
  transform: translate(0, 0) !important;
}

.dockBottom {
  padding: 0 !important;
  width: 100% !important;
  left: 0 !important;
  top: 50% !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 50% !important;
  transform: translate(0, 0) !important;
}

.dockLeft {
  padding: 0 !important;
  width: 50% !important;
  left: 0 !important;
  top: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 100% !important;
  transform: translate(0, 0) !important;
}

.dockTopLeft {
  padding: 0 !important;
  width: 50% !important;
  left: 0 !important;
  top: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 50% !important;
  transform: translate(0, 0) !important;
}

.dockTopRight {
  padding: 0 !important;
  width: 50% !important;
  left: 50% !important;
  top: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 50% !important;
  transform: translate(0, 0) !important;
}

.dockBottomLeft {
  padding: 0 !important;
  width: 50% !important;
  left: 0 !important;
  top: 50% !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 50% !important;
  transform: translate(0, 0) !important;
}

.dockBottomRight {
  padding: 0 !important;
  width: 50% !important;
  left: 50% !important;
  top: 50% !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  height: 50% !important;
  transform: translate(0, 0) !important;
}

.dockCustom {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  transform: translate(0, 0) !important;
}

.dockTop .container,
.dockRight .container,
.dockBottom .container,
.dockLeft .container,
.dockTopLeft .container,
.dockTopRight .container,
.dockBottomLeft .container,
.dockBottomRight .container,
.dockTop .titleBar,
.dockRight .titleBar,
.dockBottom .titleBar,
.dockLeft .titleBar,
.dockTopLeft .titleBar,
.dockTopRight .titleBar,
.dockBottomLeft .titleBar,
.dockBottomRight .titleBar,
.dockTop .componentAreaRounded,
.dockRight .componentAreaRounded,
.dockBottom .componentAreaRounded,
.dockLeft .componentAreaRounded,
.dockTopLeft .componentAreaRounded,
.dockTopRight .componentAreaRounded,
.dockBottomLeft .componentAreaRounded,
.dockBottomRight .componentAreaRounded,
.dockCustom .container,
.dockCustom .titleBar,
.dockCustom .componentAreaRounded,
.panel .container,
.panel .titleBar,
.panel .componentAreaRounded {
  border-radius: 0 !important;
}

.dockTop .subMenu,
.dockRight .subMenu,
.dockBottom .subMenu,
.dockLeft .subMenu,
.dockTopLeft .subMenu,
.dockTopRight .subMenu,
.dockBottomLeft .subMenu,
.dockBottomRight .subMenu,
.dockCustom .subMenu {
  top: 2px;
  left: 2px;
}

.panel {
  top: initial;
  padding: 0 !important;
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  display: inline-block !important;
  transform: translate(0, 0) !important;
  position: relative !important;
  padding-bottom: 18px !important;
  background-color: var(--very-light-grey) !important;
}

.panel .titleBar .icon, .panel .titleBar .titleBarText {
  cursor: pointer;
}

.panel .container {
  padding: 0 !important;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.subMenu div i:last-child {
  float: right;
  margin-top: 3px;
  margin-right: 3px;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--primary-light);
}

.subMenu table tr td {
  vertical-align: top;
}

.languageSelector {
  position: absolute;
  top: 13px;
  right: 13px;
}


/* make it square */
.windowItem.square .container {
  border-radius: 0;
}

.windowItem.square .titleBar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.windowItem.square .microTitleBar {
  border-radius: 0;
}

.windowItem.square .titleBar .actionIcon, .windowItem.square .microTitleBar .actionIcon {
  border-radius: 0;
}

.windowItem.square .componentAreaRounded {
  border-radius: 0;
}

.windowItem.square .status {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.windowItem.square .loading.noTitleBar {
  border-radius: 0;
}

.windowItem.square .loading.hasTitleBar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.windowItem.square .container > div:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.windowItem.square .subMenu {
  border-radius: 0;
}

.windowItem.square .subMenu div {
  border-radius: 0;
}

.subMenu input {
  width: 60px;
  margin-right: 10px;
  padding: 2px;
}

.subMenu label {
  width: 90px;
  color: var(--white);
  display: inline-block;
}

.subMenu button {
  width: 100%;
  background-color: var(--white);
  color: var(--primary);
}

.subMenu button:hover {
  background-color: var(--primary-light);
}

.windowItem.panel {
  background-image: url('/assets/images/downArrow.svg'), url('/assets/images/upArrow.svg');
  background-repeat: no-repeat;
  background-position: left 50% bottom -1px, left 50% bottom 6px;
  background-size: 11px;

}

.panelDock {
  margin:4px !important;
  width: initial !important;
  min-width: initial !important;
  background-color: var(--white) !important;
  color: var(--primary) !important;
  padding: 2px 8px 2px 8px !important;
  border-radius: 16px !important;
  display: inline-block !important;
}
.panelDock:hover {
  background-color: var(--primary-light) !important;
}

.invisible {
  opacity: 0 !important;
  transition: all 300ms;
}
.invisible.panel {
  height:0 !important;
  padding:0 !important;
}

.hidden {
  display:none !important;
  opacity:0;
}
