<div class="ribbon">
  <app-ribbon [ident]="'63b63e8f-2005-4324-957b-7bb37e3da5d2'" [size]="'large'" [hasToggle]="true"></app-ribbon>
  <div class="version">
    <app-version></app-version>
  </div>
  <button (click)="openDemo()" class="openDemo">open demo</button>


  <button (click)="saveDesktop()" class="openDemo">Save Desktop</button>

  <input
    style="display: none"
    type="file" (change)="loadDesktop($event)"
    #fileInput>
  <button (click)="fileInput.click()" class="openDemo">Load Desktop</button>
</div>
<div class="menu">
  <app-menu></app-menu>
</div>
<!--<div class="electronTitleBar" [innerHTML]="company + ' - ' + product"></div>  if electron -->
