.container {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--white);
  padding: 44px;
}

.container:after {
  content: "";
  background-image: url('/assets/images/logo_main.png');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.closeButton {
  font-size: 28px;
  position: absolute;;
  top: 10px;
  right: 10px;
}

.splashLogo {
  height: 75px;
}

.splashLogo img {
  display: inline-block;
  width: 128px;
  height: 128px;
}

.productText {
  font-size: 55px;
  padding-left: 8px;
  position: absolute;
  bottom: 110px;
  display: inline-block;
}

.statusText {
  padding-left: 8px;
  position: absolute;
  bottom: 85px;
  display: inline-block;
  font-size: 14px;
}

.copyrightText {
  padding-left: 8px;
  position: absolute;
  bottom: 65px;
  display: inline-block;
  font-size: 14px;
}

.versionText {
  padding-left: 8px;
  position: absolute;
  bottom: 45px;
  display: inline-block;
  font-size: 14px;
}
