<div class="settings">
  <div class="title">
    <span [innerHTML]="locale.settings"></span>
    <i class="icon-cog"></i>
  </div>
  <div class="container">
    <div>
      <label [innerHTML]="locale.ribbonSize" for="ribbonSize"></label>
      <select id="ribbonSize" [(ngModel)]="ribbonSize" (ngModelChange)="updateRibbonSize($event)">
        <option value="small" [innerHTML]="locale.small"></option>
        <option value="large" [innerHTML]="locale.large"></option>
      </select>
    </div>
    <div>
      <label [innerHTML]="locale.tabBarAutoHide" for="autoHide"></label>
      <input type="checkbox" name="autoHide" [(ngModel)]="autoHide" id="autoHide"
             (ngModelChange)="updateAutoHide($event)">
    </div>

    <hr>
    <button (click)="openDemo()" [innerHTML]="'Open Demo'"></button>
    <hr>
    <button (click)="saveDesktop()" [innerHTML]="'Save Desktop'"></button>
    <input
      style="display: none"
      type="file" (change)="loadDesktopFile($event)"
      #fileInput>
    <button (click)="fileInput.click()" [innerHTML]="'Load Desktop'"></button>
    <hr>
    <table>
      <tr>
        <td>
          Dark Mode (WIP)
        </td>
        <td>
          <app-toggle-switch class="toggleSwitch" [name]="'theme'" [checked]="theme" (value)="checkValue($event)" [class]="'round'"></app-toggle-switch>
        </td>
      </tr>
    </table>

  </div>
</div>

