div label {
  width: 130px;
  display: inline-block;
  font-size:15px;
}
select {
  width:140px;
}
.title {
  margin:0;
  padding:5px 5px 5px 12px;
  background-color: var(--primary-dark);
  display:block;
  height: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: 400;
  font-size:14px;
}
.container {
  padding:12px 12px 12px 12px;
  opacity:0;
  transition: all 300ms;
}

.settings:hover .container {
  padding:12px 12px 12px 12px;
  opacity:1;
  transition: all 300ms;
}
.icon-cog {
  float:right;
  font-size:17px;
  margin:2px;
}
