<div class="ribbonButton"
     [ngClass]="{
        'active': button.active,
        'small': ribbonSize == 'small',
        'large': ribbonSize == 'large',
        'right': button.float == 'right' && !direction
     }"
     (click)="ribbonAction($event)">
  <div class="iconContainer">
    <div class="icon">
      <i class="{{ button.iconOver }}"
         [ngClass]="{'iconActive': button.active}"></i>
      <i class="{{ button.icon }}"></i>
      <div *ngIf="button.itemCount" class="label" [innerHTML]="button.itemCount"></div>
    </div>
  </div>

  <div class="text" [innerHTML]="locale[button.label]" *ngIf="ribbonSize == 'large'">
  </div>
</div>
