<div class="buttonBar">
  <button (click)="addHistory($event)" *ngIf="tab == 'notes'"><i class="icon-clock"></i> <span
    [innerHTML]="locale.addNotesOrHistory"></span></button>
  <button (click)="addSupportTicket($event)" *ngIf="tab == 'tickets'"><i class="icon-ticket"></i> <span
    [innerHTML]="locale.addSupportTicket"></span></button>

  <button class="right" *ngIf="inline" [tooltip]="locale.popOut" (click)="popout()"><i class="icon-popOut"></i></button>

</div>
<div class="notesView">
  <div class="heading" [ngClass]="{'on': scrollTop < 30, 'off': scrollTop > 30}">
    <div class="headingRow">
      <div class="typeHeading" [innerHTML]="locale.type"></div>
      <div class="dateHeading" [innerHTML]="locale.date"></div>
      <div class="timeHeading" [innerHTML]="locale.time"></div>
      <div class="contactHeading" [innerHTML]="locale.contact"></div>
      <div class="agentHeading" [innerHTML]="locale.agent"></div>
    </div>
  </div>

  <div class="content" style="background-color:var(--white)" (scroll)="setScroll($event)">

    <div class="note" *ngFor="let number of [0,1,2,3]">
      <app-note [type]="tab" [id]="number" [resize]="resize"></app-note>
      <div *ngIf="number < 3" class="sep"></div>
    </div>

  </div>

</div>

