<div class="buttonBar">
  <button (click)="addHistory($event)" *ngIf="tab == 'notes'"><i class="icon-clock"></i> <span [innerHTML]="locale.addNotesOrHistory"></span></button>
  <button (click)="addSupportTicket($event)" *ngIf="tab == 'tickets'"><i class="icon-ticket"></i> <span [innerHTML]="locale.addSupportTicket"></span></button>
</div>
<div class="content">
  <div>Record ID : {{ recordId }} recordType: {{ recordType }} Tab: {{ tab }}</div>

  <div>{{ test }}</div>
  <div> {{ status }}</div>
  <p>Bacon ipsum dolor amet fatback ribeye rump doner meatloaf landjaeger short ribs. Ribeye pancetta
    frankfurter
    kielbasa chicken pastrami. Strip steak spare ribs chuck t-bone drumstick frankfurter venison. Spare ribs
    short
    ribs shankle filet mignon tail pig pancetta brisket sausage landjaeger prosciutto kevin.</p>

  <p>Brisket shankle pork belly beef, cow pork chop shoulder sausage t-bone meatball. Chicken brisket short
    loin,
    sirloin rump kielbasa ball tip buffalo picanha beef capicola jerky tri-tip. Burgdoggen bresaola doner
    meatloaf
    ground round corned beef turducken. Tail hamburger meatball kielbasa ham tri-tip.</p>

  <p>Biltong prosciutto drumstick andouille tail. Bresaola ball tip alcatra pig doner turducken ribeye
    prosciutto
    spare ribs boudin. Jerky pork cupim shoulder meatloaf. Pancetta frankfurter sirloin jowl kevin. Kevin
    biltong
    pork belly alcatra meatball jowl tri-tip kielbasa. Strip steak spare ribs tri-tip brisket pancetta cow.
    Flank
    sirloin ham hock bacon leberkas, alcatra filet mignon salami.</p>

  <p>Bacon chuck turducken swine jowl pork loin. Pork loin tongue salami, ground round turducken kielbasa
    capicola
    fatback chicken turkey. Jowl leberkas pork loin strip steak brisket cow short ribs tail capicola. Tail
    ball
    tip
    boudin brisket sirloin pastrami ground round. Short ribs doner andouille shankle fatback beef. Sausage
    chicken
    swine, buffalo pastrami venison burgdoggen biltong turkey.</p>

  <p>Cupim andouille turkey, capicola ham hock rump pork. Pork chop meatball frankfurter, bacon ball tip
    sirloin
    strip steak shankle andouille alcatra rump ham hock. Fatback tri-tip short loin chislic ham hock beef
    leberkas
    t-bone spare ribs cupim porchetta corned beef meatloaf. Corned beef ball tip turkey chuck. Porchetta
    short
    ribs
    strip steak jowl pastrami ham buffalo.</p>

</div>
