button {
  margin:0 2px 0 2px;
}

button i {
  font-size: 16px;
  margin-right: 6px;
}

button span {
  position: relative;
  top: -2px;
}

.buttonBar {
  height: 40px;
  width:100%;
  padding:4px;
  border-bottom: 1px solid var(--mid-grey);
}

.content {
  height:calc(100% - 40px);
  width:100%;
  overflow:auto;
  padding:4px
}
