<div class="container">
  <button (click)="closeWindow()">Close</button>

  <input [(ngModel)]="bleh">
  <p>Bacon ipsum dolor amet swine turducken ground round chislic pastrami ball tip doner prosciutto ham hock ribeye pork
    chop kevin. Sirloin doner bresaola ham hock. Tail sirloin venison leberkas, boudin chislic chicken pork loin.
    Venison brisket pig beef, capicola chicken short ribs ham turkey ball tip andouille. Buffalo filet mignon biltong
    porchetta corned beef. Swine shankle tail capicola jerky. Buffalo fatback tri-tip alcatra meatloaf spare ribs ground
    round drumstick tongue.

  </p>
  <p>Leberkas chuck tail cow. Short ribs frankfurter boudin tri-tip sirloin. Kevin ball tip pancetta turducken. Filet
    mignon salami swine fatback, landjaeger chislic alcatra kielbasa. Tail strip steak turkey, cupim chuck meatball
    fatback hamburger. Ribeye sausage salami, hamburger picanha corned beef chislic turkey. Chislic andouille picanha
    chuck beef.

  </p>
  <p>Hamburger tongue short ribs sirloin, kevin filet mignon tail. T-bone spare ribs flank kielbasa doner ribeye venison
    tongue pork loin landjaeger jerky ham hock. Drumstick shankle jowl boudin, pork chop pork doner strip steak tail.
    Beef ribs pork chop brisket kielbasa buffalo.

  </p>
  <p>Spare ribs porchetta picanha, kielbasa chislic capicola leberkas. Landjaeger meatball cow capicola pork hamburger
    porchetta swine jowl. Ribeye burgdoggen beef ribs filet mignon ball tip ground round pork loin cupim. Shank alcatra
    t-bone, drumstick tail tenderloin ham hock cow. Beef corned beef t-bone, flank bacon salami rump cow strip steak
    pork belly.

  </p>
  <p>Tail spare ribs tongue pork. Cupim jowl pork belly, strip steak ribeye venison alcatra tongue chicken filet mignon
    pancetta brisket short loin. Pork pork chop alcatra landjaeger venison ham ground round burgdoggen. Kevin ground
    round pastrami tri-tip bresaola chicken. Doner sirloin pancetta cow venison cupim. Short loin pork belly bacon
    landjaeger andouille tongue corned beef, leberkas chuck. Sirloin biltong burgdoggen cow.
  </p>

</div>
