<div class="dialog" [ngClass]="{'on': dialogItem.open}">
  <div class="container">
    <div class="dialogBox">
      <div class="title" [innerHTML]="locale[dialogItem.title] || dialogItem.title"></div>
      <div class="body" [innerHTML]="locale[dialogItem.body] || dialogItem.body"></div>
      <div *ngIf="dialogItem.fields" class="fields">
        <div *ngFor="let field of dialogItem.fields">
          <label [innerHTML]="locale[field.label]" [for]="field.name" class="label">
          </label>
          <div class="field">
            <input [type]="field.type" [(ngModel)]="field.value" [name]="field.value" [id]="field.name">
          </div>
        </div>
      </div>
      <div class="footer">
        <ng-container *ngFor="let buttonItem of dialogItem.buttons">
          <button
            *ngIf="buttonItem.focus"
            class="{{ buttonItem.class }}"
            (click)="clickAction(buttonItem)"
            [innerHTML]="locale[buttonItem.label] || buttonItem.label" appAutoFocus></button>

          <button
            *ngIf="!buttonItem.focus"
            class="{{ buttonItem.class }}"
            (click)="clickAction(buttonItem)"
            [innerHTML]="locale[buttonItem.label] || buttonItem.label"></button>
        </ng-container>

      </div>
    </div>
  </div>
</div>
