/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  outline: none;
}

.blockSelect * {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important;
}

input, textarea, pre {
  -webkit-touch-callout: initial; /* iOS Safari */
  -webkit-user-select: initial; /* Safari */
  -khtml-user-select: initial; /* Konqueror HTML */
  -moz-user-select: initial; /* Old versions of Firefox */
  -ms-user-select: initial; /* Internet Explorer/Edge */
  user-select: initial;
}


:root {
  --primary: #0073bb;
  --primary-mid: #37a4e7;
  --primary-light: #97d3f8;
  --primary-dark: #015386;

  --analogous-primary: #80c1fe;
  --analogous-primary-op: #ececec;

  --dark-grey: #a7a7a7;
  --darker-grey: #6f6f6f;
  --mid-grey: #d4d4d4;
  --light-grey: #ececec;
  --very-light-grey: #f5f5f5;

  --menu-height: 34px;
  --ribbon-height: 104px;
  --ribbon-width: 90px;
  --ribbon-text-height: 48px;
  --ribbon-text-offset: 8px;
  --ribbon-icon-offset: 0px;
  --ribbon-icon-margin: 8px;
  --ribbon-font-size: 32px;

  --tab-bar-height: 42px;
  --tab-bar-over-height: 42px;

  --black: #555555;
  --white: #ffffff;

  --electron-height: 0px;
}

.overlayTabBar {
  --tab-bar-height: 10px;
  --tab-bar-over-height:42px;
}

.smallRibbon {
  --ribbon-height: 50px;
  --ribbon-width: 46px;
  --ribbon-text-height: -2px;
  --ribbon-text-offset: 8px;
  --ribbon-icon-offset: 8px;
  --ribbon-icon-margin: 2px;
  --ribbon-font-size: 28px;
}

body.darkMode {
  --primary-light: #0f62c9;

  --dark-grey: #3b3a3a;
  --mid-grey: #535252;
  --light-grey: #787777;

  --black: #cecdcd;
  --white: #555555;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  font-size: 13px;
}

button {
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  background-color: var(--mid-grey);
  border: none;
  transition: all 300ms;
  color: var(--black);
  font-size: 13px;
  margin: 4px !important;
}

button:hover {
  background-color: var(--dark-grey);
  cursor: pointer;
}

input {
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
}

select {
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 28px 5px 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('/assets/images/downArrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 5px top 6px;
  background-size: 16px;
}


input:focus {
  border-color: var(--primary-mid);
  box-shadow: 0px 0px 4px 3px var(--primary-light);
}


.p-button-secondary {
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
  color:var(--black) !important;
}

.p-button-secondary:hover {
  background-color: #9c9c9c !important;
}
