<div class="container">
  <h1>Demo</h1>
  <button (click)="plannerWindow()">Planner Window</button>

  <button (click)="demo1()">Demo One</button>
  <button (click)="demo2()">Demo Two</button>
  <button (click)="demo3()">Demo Three</button>
  <button (click)="demo4()">Demo Four</button>
  <h1>Mode Locked</h1>
  <button (click)="demo1Hide()">Demo One (hide on mode change)</button>
  <button (click)="demo1Delete()">Demo One (delete on mode change)</button>

  <h1>Ribbons</h1>
  <button (click)="newWindow(false, false)">New Window + Ribbon priority</button>
  <button (click)="newWindowDoubleRibbon(false, false)">New Window Double Ribbon</button>
  <button (click)="newWindowRibbonTop(false, false)">New Window - Ribbon Fixed Top</button>
  <button (click)="newWindowRibbonLeft(false, false)">New Window - Ribbon Fixed Left</button>
  <h1>Window Customisations</h1>
  <button (click)="newWindowNoControls(false, false)">New Window' + ' - No Controls</button>
  <button (click)="newWindowNoBar(false, false)">New Window' + ' - No Title Bar + No Panel</button>
  <button (click)="newWindowNoBarRibbon()">New Window' + ' - No Title Bar + ribbon + content priority</button>
  <button (click)="newWindow3d()">New Window' + ' - Different Component</button>
  <button (click)="noTab()">New Window' + ' - No Tab</button>
  <button (click)="noFeatures()">New Window' + ' - No Features</button>
  <h1>Auto Close</h1>
  <button (click)="autoClose(9000)">New Window' + ' - Auto Close</button>
  <h1>Docking</h1>
  <button (click)="newWindowDockLeft()">New Window' + ' - Dock Left (40%, 100%)</button>

  <h1>On top/bottom</h1>
  <button (click)="newWindow(true, false)">New Window' + ' - Always on top</button>
  <button (click)="newWindow(false, true)">New Window' + ' - Always on bottom</button>

  <h1>Toast Notification</h1>
  <button (click)="newToast('success')">New Toast Success</button>
  <button (click)="newToast('info')">New Toast Info</button>
  <button (click)="newToast('warn')">New Toast Warn</button>
  <button (click)="newToast('error')">New Toast Error</button>
  <hr>
  <button (click)="newToastSticky('success')">New Toast Success Sticky</button>
  <button (click)="newToastSticky('info')">New Toast Info Sticky</button>
  <button (click)="newToastSticky('warn')">New Toast Warn Sticky</button>
  <button (click)="newToastSticky('error')">New Toast Error Sticky</button>
  <h1>Dialogs</h1>
  <button (click)="newDialog()">New Dialog</button>
  <button (click)="newDialogForm()">New Dialog (Form)</button>
  <h1>Custom Windows</h1>
  <button (click)="splash()">New Splash</button>
  <button (click)="about()">About</button>
  <h1>Panels</h1>
  <button (click)="newPanelLeft()">New Panel Left</button>
  <button (click)="newPanelRight()">New Panel (right dock 75%, 100%)</button>

  <button (click)="newPanel()">New Panel (with ribbon)</button>
  <button (click)="newPanelUuid()">New Panel (with ribbon) + uuid 10acbeb6-0bff-41bd-8b49-57e4718c0f95</button>
  <button (click)="newPanelNoClose()">New Panel (with ribbon - No Close)</button>
  <hr>
  <button (click)="demo1InPanel()">Demo One in Panel</button>
  <button (click)="demo2InPanel()">Demo Two in Panel</button>
  <button (click)="demo3InPanel()">Demo Three in panel</button>
  <button (click)="demo4InPanel()">Demo Four in Panel</button>

  <h1>Run State</h1>
  <button (click)="setItem({thing: {demo: 'demo', test: 'testing'}})">Set Item</button>
  <button (click)="setItem({thing: {sortBy: 4,thingy: 'item 4', ddd: {sortBy: 3,thingy: 'item 3'}}})">Set Item (different)</button>
  <button (click)="setItem({thing2: {demo: 'demo', test: 'testing'}})">Set second Item</button>
  <button (click)="deleteItem('thing')">Delete Item</button>
  <button (click)="deleteItem('thing2')">Delete Second Item</button>
  <pre>{{ runState | json}}</pre>
  <h1>App State</h1>
  <button (click)="setItemApp({thing: {demo: 'demo', test: 'testing'}})">Set Item</button>
  <button (click)="setItemApp({thing: {sortBy: 4,thingy: 'item 4', ddd: {sortBy: 3,thingy: 'item 3'}}})">Set Item (different)</button>
  <button (click)="setItemApp({thing2: {demo: 'demo', test: 'testing'}})">Set second Item</button>
  <button (click)="deleteItemApp('thing')">Delete Item</button>
  <button (click)="deleteItemApp('thing2')">Delete Second Item</button>
  <pre>{{ appState | json}}</pre>
</div>
